<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                      <a href="{{site.account.fivepx.url}}" style="color:#34bf49; target="_blank" title="500px">
                        <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-500px fa-stack-1x fa-inverse"></i>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="{{site.account.instagram.url}}" style="color:#e1306c; target="_blank" title="Instagram">
                        <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="{{site.account.facebook.url}}" style="color:#3b5998; target="_blank" title="Facebook">
                        <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="{{site.account.google.url}}" style="color:#dd4b39; target="_blank" title="Google">
                        <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-google fa-stack-1x fa-inverse"></i>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="{{site.account.twitter.url}}" style="color:#1da1f2; target="_blank" title="Twitter">
                        <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="{{site.account.youtube.url}}" style="color:#cd201f; target="_blank" title="Youtube">
                        <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
                        </span>
                      </a>
                    </li>  
                    <li>
                      <a href="mailto:{{site.email}}" style="color:#a086d3; target="_blank" title="Email">
                        <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                      </a>
                    </li> 
                    <li>
                      <a href="{{site.account.github.url}}" style="color:yellow; target="_blank" title="Github">
                        <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                        </span>
                      </a>
                    </li>    
                </ul>  

                <p class="copyright text-muted">Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}</p>
                <center><h6><p>Motivated by <a href="https://github.com/sunbliss/photorama">Photorama</a> <br/> Powered by <a href="https://github.com/jekyll/">Jekyll</a></p></h6></center>
            </div>
        </div>
    </div>
</footer>
